* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*debug*/

.debug .hero {
    background-color: aqua;
}
.debug .hero_title {
    background-color: blueviolet;
}
.debug .flex-cont {
    background-color: blue;
}


/*css*/

.hero {
    max-width: 1170px;
    margin: 50px auto 0;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hero_title {
    width: 300px;
    height: 100px;
}

.flex-cont {
    width: 500px;
    height: 500px;
    display: flex;
}

.item-sx {
    width: 50%;
    height: 100%;
    position: relative;
    background-color: coral;
}

.item-dx {
    width: 50%;
    height: 100%;
    position: relative;
    background-color: chartreuse;
}

.cupola {
    border: 1px solid black;
    border-top-left-radius: 126px;
    width: 131px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #97aed5fe;
    z-index: 0;
}

.visiera {
    border: 1px solid black;
    border-color: black black black transparent;
    width: 131px;
    height: 56px;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #97aed5fe;
    z-index: 1;
}

.visiera-punta {
    border: 1px solid black;
    border-color: transparent transparent transparent black;
    width: 30px;
    height: 56px;
    position: absolute;
    top: 100px;
    right: 110px;
    transform: rotate(16deg);
    border-bottom-right-radius: 14px;
    background-color: #97aed5fe;
    z-index: 0;
}

.vetro {
    background-color: black;
    width: 155px;
    height: 97px;
    position: absolute;
    top: 150px;
    right: 0;
    border-bottom-left-radius: 50px;
    z-index: 4;
}

.bordo-vetro {
    border: 1px solid black;
    width: 161px;
    height: 103px;
    position: absolute;
    top: 149px;
    right: 0;
    border-bottom-left-radius: 46px;
    border-top-left-radius: 10px;
    background-color: #97aed5fe;
    z-index: 1;
}

.prima-orecchio {
    height: 90px;
    width: 15px;
    position: absolute;
    top: 150px;
    right: 147px;
    border: 1px solid black;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 15px;
    background-color: #97aed5fe;
    z-index: 3;
}

.orecchio {
    height: 76px;
    width: 14px;
    position: absolute;
    top: 156px;
    right: 161px;
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #97aed5fe;
    z-index: 0;
}

.mascella1 {
    width: 59px;
    height: 49px;
    position: absolute;
    top: 233px;
    right: 63px;
    border: 1px solid black;
    border-color: transparent transparent transparent black;
    transform: rotate(-10deg);
    background-color: #97aed5fe;
    z-index: 0;
}
.mascella2 {
    width: 153px;
    height: 144px;
    position: absolute;
    top: 222px;
    right: -64px;
    border: 1px solid black;
    border-color: transparent black black transparent;
    transform: rotate(48deg);
    border-bottom-right-radius: 47px;
    background-color: #97aed5fe;
    z-index: 0;
}
.bocca {
    width: 32px;
    height: 10px;
    position: absolute;
    top: 300px;
    right: -2px;
    background-color: black;
}

.ombra-cupola {
    border: 4px solid black;
    border-color: transparent transparent transparent black;
    border-top-left-radius: 126px;
    width: 118px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}

.ombra-visiera {
    border: 4px solid black;
    border-color: transparent transparent transparent black;
    width: 126px;
    height: 55px;
    position: absolute;
    top: 100px;
    right: 0;
    border-top-left-radius: 60px;
    z-index: 4;
}

.luce-vetro {
    border: 1px solid black;
    width: 40px;
    height: 95px;
    position: absolute;
    top: 151px;
    right: 69px;
    transform: rotate(-3deg);
    background: linear-gradient(to right, white, black);
    z-index: 4;
}

.ombra-mascella {
    border: 4px solid black;
    width: 6px;
    height: 97px;
    position: absolute;
    top: 247px;
    right: 76px;
    transform: rotate(-20deg);
    border-color: transparent transparent transparent black;
}